*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li,ol{
    list-style: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
